.footer {
  padding: var(--space-2);
}

.grid {
  display: grid;
  grid-template-columns: auto;
  gap: var(--space-3);
  font-size: var(--font-size-1);
}

.heading {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-2);
}

.social {
  font-size: var(--font-size-4);
  display: flex;
  gap: var(--space-3);
}

.icon {
  fill: var(--color-text);
}

@media (min-width: 48em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

