.content {
  max-width: 48em;
  margin: var(--space-3) auto;
  padding: 0 var(--space-3);
}

@media (min-width: 48em) {
  .content {
    margin: var(--space-4) auto;
  }
}

@media (min-width: 64em) {
  .content {
    margin: var(--space-5) auto;
  }
}

