@font-face {
  font-family: Cascinarampina;
  src: url("/cascinarampina.ttf");
}

.d-flex {
  display: flex !important;
}

.burger-menu .line {
  width: 20px;
  height: 3px;
  background-color: #464E47;
  display: block;
  margin: 5px 0;
}