p,
ul,
ol,
blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul > li > ul,
ol > li > ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

ul > li > ul {
  list-style: circle;
}

h2 {
  font-size: 1.875rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

h4 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

pre {
  white-space: pre;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.2;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

code {
  font-size: 0.875rem;
}

figcaption {
  text-align: center;
  font-size: 0.875rem;
}

blockquote {
  border-left-width: 4px;
  --border-opacity: 1;
  border-color: #a0aec0;
  border-color: rgba(160, 174, 192, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  font-style: italic;
  margin-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

blockquote p {
  margin-top: 0;
}

blockquote cite {
  font-style: normal;
}

audio {
  width: 100%;
}

.aligncenter {
  text-align: center;
}